<div class="navbar" appScroll>
    <div>
        <a routerLink="/home" class="logo">
            <mat-icon>timeline</mat-icon>
            Stock<span>ON</span>
        </a>
        <nav>
            <ul>
                <li><a routerLink="/" mat-raised-button color="basic">Inicio</a></li>
                <li><a href="#about" mat-raised-button color="basic">Nosotros</a></li>
                <li><a href="#service" mat-raised-button color="basic">Servicio</a></li>
            </ul>
        </nav>
    </div>
    <a routerLink="/access" class="get-started"><button mat-raised-button color="primary">Comenzar</button></a>
</div>
