<app-navbar></app-navbar>
<div class="main">
    <section class="welcome" id="welcome">
        <div class="presentation">

            <h1>Bienvenido! Conocé nuestro<br>
            Sistema de <span>gestión de Stock.</span></h1>
            <p>Totalmente <span> gratuito!</span></p>
            <a href="#about" mat-raised-button>Conocenos <mat-icon>keyboard_arrow_down</mat-icon></a> <a routerLink="/access" style="background-color: transparent; color: var(--purple); text-decoration: none;">Ya tengo cuenta</a>
        </div>
        <div class="paint">
            <div class="img-cont">
                <img src={{img}} alt="">
            </div>
        </div>
    </section>
</div>